<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <title>Example Go http server</title>
  </head>
  <body>
    <h1>Example Go http server</h1>
    <p>This is a simple example of a Go http server.</p>
    <p>Visit <a href="https://golang.org/">golang.org</a> to learn more about Go.</p>
  </body>
</html>
